<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

    <div th:replace="home/module/_header"></div>

    <main>
        <section class="hero_single general">
            <div class="wrapper">
                <div class="container">
                    <form>
                        <h2 style="color: #ffffff;font-size: 10em;">403</h2>
                        <p>提示：没有权限访问</p>
                    </form>
                </div>
            </div>
        </section>
        <!-- /hero_single -->
    </main>

    <div th:replace="home/module/_footer"></div>
